{% extends 'adminlte/base.html' %}
{% block title %} {{ user }} {% endblock %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Отгрузки</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Номер отгрузки</th>
                    <th>Товары</th>
                    <th>Артикулы</th>
                    <th>Количества</th>
                    <th>Продавец</th>
                    <th>Дата отгрузки</th>
                    <th>Статус</th>
                    <th>PDFs</th>
                </tr>
            </thead>
            <tbody>
                {% for shipment in shipments %}
                <tr>
                    <td>{{ shipment.marketplace_id }}</td>
                    <td>{% for product in shipment.products.all %}
                        {{product.name}}
                    </td>
                    {% endfor %}
                    <td>{{shipment.products_codes128}}</td>
                    <td>{{shipment.products_amounts}}</td>
                    <td>{{ shipment.seller.user.first_name }} {{shipment.seller.user.last_name}}</td>
                    <td>{{ shipment.shipment_date }}</td>
                    <td> {{shipment.status}}</td>
                    {% if shipment.pdf != null %}
                    <td><a href="{{shipment.pdf}}">Package label</a></td>
                    {%else%}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
