{% extends 'adminlte/base.html' %}
{% block title %} {{ user }} {% endblock %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Shipments</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Product</th>
                    <th>Seller</th>
                    <th>Shipment Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for shipment in shipments %}
                <tr>
                    <td>{{ shipment.id }}</td>
                    <td>{{ shipment.marketplace_id }}</td>
                    <td>{% for product in shipment.products.all %}
                        {{product.name}}
                    </td>
                    {% endfor %}
                    <td>{{ shipment.seller.user.first_name }} {{shipment.seller.user.last_name}}</td>
                    <td>{{ shipment.shipment_date }}</td>
                    <td>{{ shipment.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
